
{% load static %}



</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <!-- The rest of your website content goes here -->
    <script>
        $(document).ready(function() {
    
            $('#data-table').DataTable({
                "paging": true,      // Enable pagination
                "pageLength": 10,   // Number of records per page
                "searching": true
            });
        });
    </script>


</html>